<!DOCTYPE html>
<html>
<head>
    <title>visualizer - ハイパーお掃除ロボット</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div class="ui menu">
        <div class="item">
            <h1>visualizer - ハイパーお掃除ロボット</h1>
        </div>
        <div class="right item">
            <a href="https://github.com/recruit-communications/rcl-contest-2020/tree/master/final_B/visualizer"><i class="code icon"></i>source</a>
        </div>
    </div>

    <% include src/_visualizer_div.html %>
</body>
</html>
